.P_home {
  overflow: auto;
  .M_swiper {
    margin-bottom: 12px;
    border-bottom: 1px solid #eaeaea;
    .swiper_item {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .search_row {
    display: flex;
    justify-content: space-between;

  }
}
